@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.results {
    grid-area: results;
    border: 1px solid $secondary;
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;
    max-width: 100%;
  
    .results__text {
      p {
        margin: 0.5rem 0;
        color: #333;
        font-weight: bold;
  
        .results__method-label {
          color: #007bff;
        }
  
        .results__url-label {
          color: #28a745;
        }
      }
    }


    .noData {
      color: black;
      font-size: 18px;
    }
  }
  
  
  @media (max-width: 768px) {
    .results {
      padding: 0.5rem;
  
      .results__text {
        p {
          font-size: 0.9rem;
        }
      }
  
      .react-json-view {
        font-size: 0.6rem;
      }
    }
  }
  
