@import '../../styles/responsive.scss';

.home {
   .home__container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    h1 {
      font-size: 2rem;
    }
   }
}