@import '../../styles/variables.scss';

.header {
  grid-area: header;
  border-bottom: 1px solid rgba(203, 32, 80, 0.1);

  .full-nav {
    display: none; 
  }

  .mobile-nav {
    display: block; 
    display: flex;
    padding: 1.5rem;
    justify-content: flex-end;
  }

  @media (min-width: 768px) {
    .full-nav {
      display: block; 
    }

    .mobile-nav {
      display: none;
    }
  }
}
