.header {
  grid-area: header;
  border-bottom: 1px solid gray;

  .full-nav {
    display: none; 
  }

  .mobile-nav {
    display: block; 
  }

  @media (min-width: 768px) {
    .full-nav {
      display: block; 
    }

    .mobile-nav {
      display: none;
    }
  }
}
