@import './styles/responsive.scss';
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  background-color: $background;
  color: $text;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.containers {
  flex: 1;
  display: flex;
}

.menu__container {
  width: 200px;
  padding: 5px;
  border-right: 1px solid $accent;

  @include lg{
    width: max-content;
  }
}

.content__container {
  padding: 5px 20px;
  width: 100%;
}
